*.pyc
__pycache__/
db.sqlite3
.env
.venv
env/
venv/
venue-venv/
.DS_Store
*.pyo
*.db
*.log
static/
media/
.idea/
.vscode/
.vs/venue_connect/FileContentIndex/318e1925-3270-462c-afc5-2553d4baf147.vsidx
/.vs
