{% extends 'base.html' %}

{% block title %}
    Ad
{% endblock %}

{% block content %}
    <form>
        <table>
            <thead>
            <tr>
                <th>Advertisement</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ID</td>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <td>Owner Id</td>
                <td>{{ ad.owner_id }}</td>
            </tr>
            <tr>
                <td>Price/Day</td>
                <td>{{ ad.venue.price_per_day }}</td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td>{{ ad.venue.capacity }}</td>
            </tr>
            <tr>
                <td>Is Active</td>
                <td>{{ ad.is_active }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <td>Is Active</td>
                <td>{{ ad.is_active }}</td>
            </tr>
            </tbody>
        </table>
        {% if request.user.pk != ad.owner_id %}
            <a class="button" href="{% url 'make_booking' venue_id=ad.venue_id %}">Book</a>
        {% endif %}
    </form>
{% endblock %}