<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ID</td>
        <td>{{ ad.id }}</td>
    </tr>
    <tr>
        <td>Owner Id</td>
        <td>{{ ad.owner_id }}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{ ad.title }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ ad.description }}</td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>{{ ad.is_active }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>