{% extends 'base.html' %}

{% block title %}
    Bookings
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Reservation</th>
            <th>Venue ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.venue_id }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td><a href="booking.html" class="button">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}