<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Reservation Id</th>
            <th>User Id</th>
            <th>Venue Id</th>
            <th>Start Time</th>
            <th>End Timee</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.user_id }}</td>
                <td>{{ booking.venue_id }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>